#carouselExampleIndicators {
    width: 100%;
    overflow: hidden;
    /* background-color: #424141; */
    background-color: #000;
}
  
.carousel-inner {
    height: 641px;
    /* height: 430px; */
}
  
.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: white; 
}

.carousel-control-prev{
    margin-left: -55px;
}

.carousel-control-next{
    margin-right: -48px;
}

.custom-indicators {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
  
.indicator {
    width: 50px;
    height: 2px;
    background-color: #bbb;
    margin: 0 10px;
    cursor: pointer;
}
  
.indicator.active {
    background-color: #fff;
}

.carousel-item img {
    opacity: 0.6;
}
  
.welcome-text .brand-text{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    z-index: 1; 
    text-align: center;
    color: white; 
    font-size: 4rem;
    letter-spacing: 5px;
    font-weight: 700;
  }

.welcome-text p {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
    z-index: 1; 
    text-align: center;
    color: white; 
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 500;
}
  