body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.products-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.products {
    flex: 2;
}

.cart {
    position: relative;
}

.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* .btn-cart {
    background-color: #4CAF50;
    color: white;
} */

.cart-window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: #f9f9f9;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: none;
    overflow-y: auto;
}

.cart-window.active {
    display: block;
}

.cart-title {
    text-align: center;
    margin-bottom: 20px;
}
