/* Cart window styles */
.cart-window {
  position: fixed;
  top: 76px;
  right: -100%;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  background-color: #f9f9f9;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.3);
  padding: 5px;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.cart-window.active {
  right: 0;
}

.cart-footer {
  margin-top: auto;
}

.cart-title {
  text-align: center;

  border-bottom: 2px solid #ddd;
}

.cart-body {
  width: 100% !important;
  height: 670px;
}

.cart-item {
  margin: 10px;
  display: flex;
  align-items: center;
  span {
    width: 100%;
    max-width: 800px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity {
  width: 50px !important;
  text-align: center;
}
.quantity-btn {
  width: 40px !important;
  margin: 10px;
  text-align: center;
}
.cart-empty {
  text-align: center;

  font-size: 1.25rem;
  color: #4a4845;
}

.cart-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.price {
  width: 100%;
}
.cart-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.cart-footer button {
  padding: 10px 20px; /* Padding for the buttons */
  border: none;
  cursor: pointer;
  width: calc(45% - 5px); /* Width of the buttons */
  cursor: pointer;
  margin-right: 10px;
}

.cart-clear {
  background-color: rgb(41, 40, 40); /* Button background color */
  color: rgb(238, 215, 215); /* Button text color */
}

.cart-clear:hover {
  filter: brightness(1.75);
}

.checkout:hover {
  filter: brightness(1.3);
}

.checkout {
  background-color: #ef8d16; /* Button background color */
  color: white; /* Button text color */
}
