.explore {
    display: flex;
    flex-direction: row; 
    align-items: center; 
}

.explore section {
    flex: 0.5;
}

.explore-text {
    text-align: left; 
    padding: 0 2rem; 
}

.explore img {
    max-width: 85%; 
    height: auto; 
    z-index: 1;
}
