/*FEEL FREE TO CHANGE  THE FONT AND COLORS*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  transition: all 300ms ease;
  font-family: "Poppins", sans-serif;
}
/*Ask Carl if you gonna make changes here or if you can just do it*/
.navbar {
  position: fixed !important;
  width: 100% !important;
  z-index: 999 !important;
  background-color: #fff;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.hamburger {
  transition: transform 300ms ease;
}

.nav-item {
  padding: 0 5px 0 5px !important;
  height: 40px;
  margin: 5px 0 5px 0;
}

.btn-login {
  border: 1px solid #929294 !important;
  color: #000;
  background: transparent !important;
  &:hover {
    background: #d8d6d6 !important;
    color: #000 !important;
  }
}
.btn-signup {
  background: #d8d6d6 !important;
  border: 1px solid #929294 !important;
  color: #000 !important;
  &:hover {
    background: #b8b8bb !important;
  }
}

.i-pos {
  font-family: "Font Awesome 5 Free", sans-serif !important;
  color: #e29d35 !important;
  font-size: 16px !important;
  border: 1px solid #e29d35 !important;
  width: 42px !important;
}
.fa {
  text-align: center !important;
}

.img-logo-size {
  width: 40px !important;
  height: auto;
}
