@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 300ms ease !important;
  font-family: "Poppins", sans-serif;
}

.wrapper-main {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

.carousel {
  width: 100%;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
  background: #fff;
}
.carousel img {
  width: 100%;
  min-height: 300px !important;
  max-height: 500px !important;
  object-fit: cover;
  object-position: bottom;
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
