@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 300ms ease !important;
  font-family: "Poppins", sans-serif;
}

/*PARENT*/
.wrapper-main {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

/*CAROUSEL*/
.carousel {
  width: 100%;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
  background: #fff;
  height: 50%;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  object-fit: cover !important;
  height: 500px !important;
  object-position: bottom !important;
  filter: brightness(0.6);
}

.carousel-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  text-align: center;
  width: clamp(600px, 70vw, 1200px);
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 4rem;
  margin: 0 auto;
}

.carousel .carousel-text h1 {
  font-size: clamp(4rem, 3vw, 5rem);
  font-weight: 700;
  letter-spacing: 0.5vw;
}

.carousel .carousel-text p {
  font-weight: 500;
  width: 100%;
}

/*EXPLORE*/
.explore {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  overflow: hidden;
  /* height: 411px; */
}

.explore section {
  flex: 0.5;
}

.explore-text {
  text-align: left;
  padding: 2rem 0;
}

.explore img {
  width: 90%;
  max-width: 600px;
  height: auto;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .explore {
    flex-direction: column;
    align-items: flex-start;
  }

  .explore-text {
    padding: 2rem;
  }

  .explore img {
    display: none;
  }
}

/*PROMOTION*/
.promotion {
  position: relative;
  width: 100%;
  overflow: hidden;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

.promotion-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  text-align: center;
  width: clamp(600px, 70vw, 1200px);
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 4rem;
  margin: 0 auto;
}

.promotion .promotion-text h1 {
  font-size: clamp(4rem, 3vw, 5rem);
  font-weight: 700;
  letter-spacing: 0.5vw;
}

.promotion .promotion-text p {
  font-weight: 500;
  width: 100%;
}

.promotion section img {
  width: 100%;
  filter: brightness(0.6);
  height: 420px;
  object-fit: cover;
  object-position: bottom;
}

/*TOP PRODUCT AND CARDS*/
.top-products {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-products .top-text {
  padding: 2rem 0;
  width: clamp(450px, 70vw, 1200px);
}

.top-products .top-text h1 {
  /* font-size: 4vw; */
  text-align: center;
  letter-spacing: 0.5vw;
  margin-bottom: 1rem;
}

.top-products .top-text p {
  text-align: justify;
  letter-spacing: 0.2vw;
  font-weight: 500;
  margin: 0 auto;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 2rem;
}

.cards {
  padding: 1rem 0;
}

.card {
  transition: transform 0.3s ease-in-out;
  /* box-shadow: 0 0px 8px rgb(100, 100, 100); */
  width: auto;
  height: auto;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: #000;
}

.card img:hover {
  transform: scale(1.07) rotate(10deg);
  /* box-shadow: 0 0px 15px rgb(255, 3, 171); */
}

.card-img-top {
  display: block;
  margin: auto;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-card {
  max-height: 40rem;
  margin: 0 auto;
  background-color: transparent !important;
}

.txt-theme {
  color: #000;
  text-align: left;
}

/*POPUP/FORMS*/
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  position: absolute;
  width: 50%;
  height: auto;
  padding: 1rem;
  border-radius: 10px;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  z-index: 3;
}

.popup-content form {
  display: flex;
  flex-direction: column; 
}

.form h1, p {
  text-align: center;
  margin-bottom: 10px;
}

.popup-content form .separator {
  width: 100%; 
  height: 1px; 
  background-color: #333; 
  margin: 10px 0; 
  display: block; 
}

.forgottenBtn {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  width: auto;
  height: 45px;
  border: 1px solid #ccc;
  margin: 7px 0;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
}

.forgottenBtn:hover {
  background-color: #bebdbdbe;
  transition: ease-in-out 0.2s;
}

.forgottenBtn img {
  width: 20px;
  height: 20px;
  margin-right: 13px;
}

.forgottenBtn.fb img {
  width: 30px;
  height: 30px;
  margin-right: 7px;
}

.popup-content label {
  margin-bottom: 10px;
}

.popup-content input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.popup-content button[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: 6px auto;
}

.popup-content button[type="submit"]:hover {
  background-color: #333;
}

.popup-container.active {
  display: flex;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 9px;
  font-size: 25px;
  background: none;
  border: none;
  color: #000; 
  cursor: pointer;
  outline: none;
  z-index: 4; 
}

