/*FEEL FREE TO CHANGE */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  transition: 300ms ease !important;
  font-family: "Poppins", sans-serif;
  --darkred: #220c10;
  --greencyan: #506c64;
  --mediumcyan: #77cbb9;
  --cyanblue: #75b8c8;
  --lightcyanblue: #cdd3d5;
}

body {
  display: grid;
  place-items: center;
}

body > span {
  font-weight: 700;
  font-size: 5rem;
}
