.top-products {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 400px;
}

.top-products .top-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    text-align: center;
}

.top-products .top-text h1 {
    font-size: 5vw;
    letter-spacing: 0.5vw;
    font-weight: 700;
    margin-bottom: 1rem;
}

.top-products .top-text p {
    font-size: 1.5vw;
    letter-spacing: 0.2vw;
    font-weight: 500;
    max-width: 80%;
    margin: 0 auto;
}